/*
em - от текущего шrифта
% - от родительской элемента'
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #f1f1f1;
  font: 16px normal Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

/* # Упражнение 2. Сокращённые свойства
.element {
  font: 18px normal Roboto, sans-serif;
} 
*/

h1 {
  color: navy;
}

em {
  color: orangered;
}

li {
  font-weight: bold;
}

li > em {
  font-size: larger;
}


a:hover {
  color: royalblue;
}

a:visited {
  color: rgb(22, 4, 70);
}

.flag {
  position: relative;
  border: 2px solid black;
  height: 400px;
  width: 600px;
  background: white;
}

.circle {
  position: absolute;
  margin: 80px 180px;
  height: 240px;
  width: 240px;
  background: red;
  border-radius: 50%;
}

.list-group {
  width: 600px;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item {
  margin: 0;
  padding: 5px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item a:active {
  color: #0d6efd;
}

.list-group-item a:visited {
  color: darkblue;
}

.card {  
  width: 350px;  
  border: 2px solid rgba(0, 0, 0, 0.125);    
}

.card-img-top {  
  width: 100%;
  margin: 0;
}

.card-body {    
  padding: 20px;
}

.card-title {  
  
  font-size: 18px;  
  margin: 0 0 10px 0;
}

.card-text {
    margin: 0 0 10px 0;
}


.btn {
  position: relative;  
  display: inline-block;  
  background: #e45d80;
  color: white;
  text-decoration: none; 
  padding: 10px 15px;
  border-radius: 4px;  
}

a > .btn {
  color: white;
}

/* .btn:link {
  color: white;
} */
.btn:hover {
  color: red;
  background: coral;
}

.btn:active {
  color: black;
}
/* 
.btn:visited {
  color: rgb(16, 7, 59); 
} */